* {
  box-sizing: border-box;
}

.content {
  width: 80%;
  height: 500px;
  border: 1px solid;
}

.red {
  width: 100px;
  height: 100px;
  background-color: red;
}

.red:hover {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: all 1s;
}

.yellow {
  width: 100px;
  height: 100px;
  background-color: gold;
  border-radius: 0 0 50% 50%;
  animation: rock 3s infinite;
}

.green {
  width: 100px;
  height: 40px;
  background-color: green;
  border: 0;
}
.blue {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: all 0.5s ease;
  opacity: 0;
}

.green:hover + .blue {
  height: 100px;
  opacity: 1;
}


@keyframes rock {
    25% {transform: rotate(90deg)};
    50% {transform: rotate(0deg)};
    75% {transform: rotate(-90deg)};
    }
