header {
    background: rgb(1, 182, 1);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

html {
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    display:block;
    margin-left: auto;
    margin-right:auto;
    border: solid grey 8px;
}

.needspadding {
    padding: 10px;
    text-align: center;
}

main {
    padding-left: 50px;
    padding-right: 50px;
}

.heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
    text-decoration: underline;
}

main p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.moststuff {
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
}

footer {
    text-align: center;
    background-color: grey;
    padding-top:10px;
    padding-bottom:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}